@model UI.Models.Company.CompanyDetailsVM

<div class="bordered-content">
    <div class="control-group">
        <div>
            <label class="col-md-5">Name:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Name)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">City:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.City)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Address:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Address)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Benefits:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Benefits)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Contact FirstName:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.ContactFirstName)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Contact LastName:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.ContactLastName)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Contact Phone:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.ContactPhone)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Contact Email:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.ContactEmail)
            </div>
        </div>
    </div>
</div>