@model UI.Models.Courses.CourseDetailsVM

<div class="bordered-content">
    <div class="control-group">
        <div>
            <label class="col-md-5">Title:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Title)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Description:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Description)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Responsibilities:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Responsibilities)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Requirements:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Requirements)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Advantages:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Advantages)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Salary Level:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.SalaryLevel)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Minimal Expirience:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.MinimalExpirience)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Tags:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Tags)
            </div>
        </div>
    </div>
</div>
@if (User.IsInRole("RegularUser"))
{
    <div class="panel panel-default">
        <div class="text-center">
            @if (Model.IsResponseSended)
            {
                <text>Waiting for response</text>
            }
            else
            {
                <a class="" href="@Url.Action("RespondToCourse", "Courses", new { id = Model.Id })">
                    <h4>
                        Respond to course
                    </h4>
                </a>
            }
        </div>
    </div>
}