@model UI.Models.Courses.CourseDetailsVM

<div class="bordered-content">
    <div class="control-group">
        <div>
            <label class="col-md-5">Title:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Title)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Description:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Description)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Responsibilities:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Responsibilities)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Requirements:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Requirements)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Advantages:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Advantages)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Salary Level:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.SalaryLevel)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Minimal Expirience:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.MinimalExpirience)
            </div>
        </div>
    </div>
    <div class="control-group">
        <div>
            <label class="col-md-5">Tags:</label>
            <div class="col-md-6">
                @Html.DisplayFor(m => m.Tags)
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("RegularUser"))
{
    <div class="panel panel-default">
        <div class="text-center">
            @if (Model.IsResponseSended)
            {
                if (Model.Status == Common.CourseResponseStatus.Accepted)
                {
                    <text>Your request has been approved. Company representatives will contact you shortly.</text>
                }
                if (Model.Status == Common.CourseResponseStatus.Declined)
                {
                    <text>Your request has been declined.</text>
                }
                if (Model.Status == Common.CourseResponseStatus.Refinement)
                {
                    <text>Need some refirenment. Please answer in field below.</text>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-4 text-left" style="padding-left: 25px;">Company Message:</label>
                            <div class="col-md-8 text-left">
                                <p>@Model.RefinementMessage</p>
                            </div>
                        </div>
                    </div>
                    using (Html.BeginForm("AnswerToRefinement", "Courses", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.HiddenFor(m => m.CourseResponseId)
                        <div class="form-group">
                            <label class="col-md-4 text-left" style="padding-left: 25px;">Your Answer:</label>
                            <div class="col-md-8">
                                @Html.TextAreaFor(m => m.RefinementAnswer, new {@class = "form-control", @id = "answer-text"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-8">
                                <input type="submit" value="Send" class="btn btn-default pull-left" />
                            </div>
                        </div>
                    }
                }
                if (Model.Status == Common.CourseResponseStatus.RefinementAnswered)
                {
                    <text>Waiting for response. Company representatives will contact you shortly.</text>
                }
            }
            else
            {
                <a class="" href="@Url.Action("RespondToCourse", "Courses", new { id = Model.Id })">
                    <h4>
                        Respond to course
                    </h4>
                </a>
            }
        </div>
    </div>
}