@model UI.Models.Company.CompanyVM
<div class="bordered-content">
    <div class="form-group">
        <label class="col-md-4">Name</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Name, null, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Contact FirstName</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.ContactFirstName, null, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Contact LastName</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.ContactLastName, null, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Contact Phone</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.ContactPhone, null, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Contact Email</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.ContactEmail, null, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">City</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.City, null, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Address</label>
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Address, null, new {@class = "form-control"})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4">Benefits</label>
        <div class="col-md-8">
            @Html.TextAreaFor(m => m.Benefits, new { @class = "form-control" })
        </div>
    </div>
</div>