@model UI.Models.Company.CompanyVM
@{
    ViewBag.Title = "Create";
}

@section scripts {
    @Scripts.Render("~/bundles/company")
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginForm("Create", "Company", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-12">
                    <h4>Create Company</h4>
                    <hr>
                </div>
            </div>
            @Html.ValidationSummary()
            @Html.EditorFor(x => x)
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Create" class="btn btn-default pull-right" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default pull-right cancel-btn" })
                </div>
            </div>
        }
    </div>
</div>
