@using Common
@model UI.Models.Courses.CourseResponsesVM
@{
    ViewBag.Title = "View Responses";
}
<div class="modal" id="ModalContainer" role="dialog" aria-hidden="true">
</div>
<div class="modal" id="AskModalContainer" role="dialog" aria-hidden="true">
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>
                User Name
            </th>
            <th>
                User Email
            </th>
            <th>
                Sended On
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
        @foreach (var courseResponse in Model.CourseResponses)
        {
            <tr>
                <td>
                    @courseResponse.UserName <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ModalContainer"
                       data-toggle="modal" data-target="#ModalContainer" href="@Url.Action("ViewResume", "Home", new {id = courseResponse.UserId})">View Resume</a>
                </td>
                <td>
                    @courseResponse.UserEmail
                </td>
                <td>
                    @courseResponse.CreatedOn
                </td>
                <td>
                    @courseResponse.Status
                </td>
                <td>
                    @if (courseResponse.Status == CourseResponseStatus.Initial)
                    {
                        @Html.ActionLink("Accept", "AnswerToResponse", "Courses", new { id = courseResponse.Id, status = CourseResponseStatus.Accepted }, null)<text>&nbsp;</text>
                        @Html.ActionLink("Decline", "AnswerToResponse", "Courses", new { id = courseResponse.Id, status = CourseResponseStatus.Declined }, null)<text>&nbsp;</text>
                        <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#AskModalContainer"
                           data-toggle="modal" data-target="#AskModalContainer" href="@Url.Action("AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Refinement})">Request clarification</a>
                    }
                    @if (courseResponse.Status == CourseResponseStatus.Accepted)
                    {
                        <text>Accepted</text>
                        @Html.ActionLink("Decline", "AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Declined}, null)<text>&nbsp;</text>
                        <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#AskModalContainer"
                           data-toggle="modal" data-target="#AskModalContainer" href="@Url.Action("AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Refinement})">Request clarification</a>
                    }
                    @if (courseResponse.Status == CourseResponseStatus.Declined)
                    {
                        <text>Declined</text>
                        @Html.ActionLink("Accept", "AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Accepted}, null)<text>&nbsp;</text>
                        <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#AskModalContainer"
                           data-toggle="modal" data-target="#AskModalContainer" href="@Url.Action("AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Refinement})">Request clarification</a>
                    }
                    @if (courseResponse.Status == CourseResponseStatus.Refinement)
                    {
                        <text>Waiting for Refinement</text>
                        @Html.ActionLink("Accept", "AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Accepted}, null)<text>&nbsp;</text>
                        @Html.ActionLink("Decline", "AnswerToResponse", "Courses", new {id = courseResponse.Id, status = CourseResponseStatus.Declined}, null)<text>&nbsp;</text>
                    }
                    @if (courseResponse.Status == CourseResponseStatus.RefinementAnswered)
                    {
                        <a class="" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ModalContainer"
                           data-toggle="modal" data-target="#ModalContainer" href="@Url.Action("ViewRefinementAnswer", "Courses", new {id = courseResponse.Id})">Refinement received</a>
                        @Html.ActionLink("Accept", "AnswerToResponse", "Courses", new { id = courseResponse.Id, status = CourseResponseStatus.Accepted }, null)<text>&nbsp;</text>
                        @Html.ActionLink("Decline", "AnswerToResponse", "Courses", new { id = courseResponse.Id, status = CourseResponseStatus.Declined }, null)<text>&nbsp;</text>
                    }
                </td>
            </tr>
        }
    </table>
</div>